@inherits LayoutComponentBase
@using OlondongeApp.Components.Shared

<div class="layout-shell">
    <ConnectionBanner />
    <div class="empty-layout">
        @Body
    </div>
    <Toaster />
</div>

